with open(self.file_path, "r") as files:
            for line_number, line in enumerate(files, start=1):
                for word in rule_include:
                    if word in line:
                        file = open(self.file_path)
                        content = file.readlines()
                        for i in range(0, setting_value):
                            print(content[line_number])
                            print(line_number)
                            print(content[line_number] != "\n")
                            if content[line_number + i] != "\n":
                                line_number_list.append(line_number + 1)
                                for i in range(i + 1, setting_value):
                                    line_number_list.append(line_number + 1)
                                break
                        file.close()



with open(self.file_path, "r") as files:
            for line_number, line in enumerate(files, start=1):
                for word in rule_include:
                    if word in line:
                        file = open(self.file_path)
                        content = file.readlines()
                        mutable_setting_value = setting_value                           # Reset the mutable to setting value
                        if content[line_number ] != "\n":                               # If has not "\n" before then apply all \n from settings value
                            for i in range(0, mutable_setting_value):
                                line_number_list.append(line_number)
                        else:                                                           # If alredy have "\n" before then count how many "\n" it has.
                            counter = 0
                            for c in range(0, mutable_setting_value):
                                if content[line_number + c] == "\n":
                                    mutable_setting_value = mutable_setting_value - 1
                                    counter = counter + 1
                                    print(mutable_setting_value)
                                    print(counter)
                                else:                                                   # When no more "\n" is in the line then break it
                                    break
                            for y in range(0, mutable_setting_value):                   # Apply the rest blank lines
                                line_number_list.append(line_number)
                        file.close()